In [10]:
# DataFrame - index (행), column (열)

import numpy as np
import pandas as pd
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.rand(8,3), index=index, columns=list('ABC'))
df2 = df[df['B']>0.4]   # B열 선택, mask
df2

df['D'] = df['A']/df['B']   # 행 방향 축 연산
df['E'] = np.sum(df, axis=1)   # 행 우선 계산 값 E에 저장
df = df.sub(df['A'], axis=0)   # 열 우선 계산
df = df.div(df['C'], axis=0)

df.to_csv('test.csv')
df.head()

              A         B    C          D          E
2000-01-01  0.0  1.055841  1.0   0.020675   6.301435
2000-01-02 -0.0 -8.948066  1.0  -3.307456 -29.588092
2000-01-03 -0.0  1.106380  1.0  -6.381615 -20.481784
2000-01-04  0.0  0.589370  1.0   0.411638   9.622100
2000-01-05 -0.0  4.905367  1.0 -43.911159 -55.713183